[submodule "co-tracker"]
	path = co-tracker
	url = https://github.com/mlevy2525/co-tracker.git
[submodule "dift"]
	path = dift
	url = https://github.com/mlevy2525/dift.git
[submodule "Franka-Teach"]
	path = Franka-Teach
	url = https://github.com/NYU-robot-learning/Franka-Teach.git
